.footer-mobile i {
  font-size: 30px;
}

.footer-mobile .me-auto div:last-child {
  font-size: 0.5rem;
}
.footer-mobile * {
  padding: 2px 0;
  flex : 1;
  background: lightgrey;
}

/* .Footer .mobile-dropdown-container {
  position: absolute;
  transform: translateY(-110%);
  width: 150px;
  margin: 5px;
  background: none;
} */